h1 {
    color: white;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

#opcoes {
    color: white;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.slider {
    font-size: 30px;
}


h2 {
    padding-left: 2%;
    color: white;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.rightbuttons {
    color: white;
    font-size: x-large;
    font-weight: bold;
    background-color: rgb(66, 20, 101);
    padding: 20px 30px;
    border-radius: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 20%;
}

.leftbuttons {
    color: white;
    font-weight: bold;
    font-size: x-large;
    background-color: rgb(66, 20, 101);
    padding: 20px 30px;
    border-radius: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: block;
    width: 20%;
}

.rightbuttons:hover {
    color: darkorange;
}

.leftbuttons:hover {
    color: darkorange;
}

body {
    background-image: url('../imagens/bejeweled.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.titlelogin {
    margin-top:90px;
}

.login {
    color:white;
    margin-top:100px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.confirmar {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.statistics {
    position: relative;
    bottom: 300px;
    margin: 10px auto 10px auto;

}

.statisticsbox {
    width: 10%;
    height: 15%;
    background-color: rgb(66, 20, 101);
    border: 5px solid white;
    padding: 200px;
    position: relative; left:2%; top:27%; bottom:0px;
}

.game {
    width: 15%;
    height: 20%;
    background-color: rgb(66, 20, 101);
    border: 5px solid white;
    padding: 250px;
    position: relative; left:27%; top:27%; bottom:500px;
}

table{
    border: 1px solid;
    border-collapse: collapse;
    background-color: white;
    padding: 1px;
    position: relative; bottom: 100px;
    margin: 10px auto 10px auto;
}

th, td{
    border: 1px solid;
}

