/* Estilo  */
h1 {
    color: greenyellow;
    margin-right: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    font-style: italic;
};

div {
    display: block;
}

/* Jogo */
.game {
    width: 300px;
    border: 2px solid greenyellow;
    padding: 200px;
}

/* Butões */

.intro_button {
    height: 30px;
    width: 150px;
}

.game_button {
    height: 30px;
    width: 200px;
}

.button {
    height: 30px;
    width: 100px;
}
